.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgb(236, 232, 232);
}

.footer-head {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 90%;
  margin: 24px auto 32px auto;
}

.footer-section {
  display: flex;
  flex-flow: column;
  padding: 1%;
  text-align: center;
}

.footer-title {
  margin: 32px;
  margin-bottom: 72px;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
}

.footer-text {
  font-family: "Lora", serif;
  margin: 32px 12px;
  font-size: 18px;
}

.footer-bottom {
  margin-top: 24px;
  width: 100%;
}

.bottom-wrapper {
  width: 100%;
  padding: 24px;
  background: rgb(122, 119, 119);
  text-align: center;
}

.footer-rights {
  color: rgb(255, 255, 255);
  font-family: "Montserrat", serif;
  font-weight: 1;
}

@media screen and (max-width: 1024px) {
  .footer-container {
    margin-top: 0;
  }
  .footer-head {
    flex-direction: column;
  }
  .footer-text {
    margin: 24px 12px;
  }
}
